<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="PythonValueFactory" name="PythonValueFactory" schema="schema/PythonValueFactory.exsd"/>
   <extension-point id="PythonPortObjectConverter" name="PythonPortObjectConverter" schema="schema/PythonPortObjectConverter.exsd"/>

</plugin>
